index for home page of TextUtiles web site without using bootstarap 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Text Analyzer. Enter your text here </h1>
    <form action="/remove_punctuation" method="GET"> 
        <textarea name="inputText" id="" cols="30" rows="10" style="margin: 0px; width: 1318px; height: 171px;"></textarea><br>
        <input type="checkbox" name="remove_punctuation" > Remove punctuations <br>  
        <button type = 'submit'>Analyze Text</button>
    </form>
</body>
</html>